@use '@/shared/styles/variables' as *;
@use '@/shared/styles/mixins' as *;

.auth-form {
    display: flex;
    flex-direction: column;
    gap: 1.25rem;

    &__fields {
        display: flex;
        flex-direction: column;
        gap: 0.75rem;
    }

    &__error {
        @include typo-p;
        margin: 0;
        color: $color-status-error;

        &:empty {
            display: none;
        }
    }
}