@use '@/shared/styles/variables' as *;

.password-rules {
    display: flex;
    flex-direction: column;
    gap: 0.125rem;
    margin: 0;
    padding: 0;
    list-style: none;

    &__item {
        display: flex;
        align-items: center;
        gap: 0.5rem;
        font-size: 0.75rem;
        line-height: 15px;
        color: #808080;

        &--ok {
            color: $color-status-success;

            .password-rules__indicator {
                background: $color-status-success;
            }
        }

        &--fail {
            color: $color-status-error;

            .password-rules__indicator {
                background: $color-status-error;
            }
        }
    }

    &__indicator {
        flex: none;
        width: 6px;
        height: 6px;
        border-radius: 50%;
        background: $color-text-placeholder;
    }
}